.file {
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  /*
    disable text selection highlighting
    was showing when double clicked
  */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.readme-exe {
  position: absolute;
  top: 100px;
  right: 25px;
}
