.board-container {
    width: 640px;
    height: 640px;
}

.board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.chess-tab {
    width: 15rem;
    height: 640px;
    padding: 5px;
    display: grid;
    place-content: center;
    background-color: rgb(34, 34, 34);
}

.chess-turn {
    display: flex;
    justify-content: center;
}

.board .tile {
    width: 12.5%;
    height: 12.5%;
}

.board .promote-tile {
    width: 50%;
    height: 50%;
}

.board .tile .black-tile {
    width: 100%;
    height: 100%;
    background-color: #779556;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board .tile .white-tile {
    width: 100%;
    height: 100%;
    background-color: #ebecd0;
}

.piece-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece-container:hover {
    cursor: grab;
}

.piece-preview {
    cursor: pointer;
}

.chess-piece {
    height: 70%;
}

.promote-cursor {
    cursor: pointer;
}

.game-status {
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-family: sans-serif;
    padding: 15px;
    color: whitesmoke;
    text-transform: uppercase;
}

.new-game-btn {
    cursor: pointer;
    background-color: rgb(63, 63, 63);
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 10px;
    color: whitesmoke;
}

.chess-turn .icon-container-black {
    display: grid;
    place-content: center;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #000;
}

.chess-turn .icon-container-white {
    display: grid;
    place-content: center;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: #000;
    border: 5px solid #fff;
}

.chess-turn .icon {
    font-size: 5rem;
}